@{
  ViewData["Title"] = "Corpul profesoral";
  ViewData["BodyClass"] = "inner-page";
}
<section class="container section">
  <div class="section-title" data-aos="fade-up">
    <h2>Profesori</h2>
    <p>Corpul profesoral</p>
  </div>

  <div class="row">
    <!-- Card 1 -->
    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
      <div class="member">
        <img src="~/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="" asp-append-version="true">
        <div class="member-content">
          <h4>Director: Ionescu Emilian</h4>
          <span>Conducere</span>
        </div>
      </div>
    </div>
    <!-- Add more using the trainers card style -->
    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
      <div class="member">
        <img src="~/assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
        <div class="member-content">
          <h4>Popescu Alina</h4>
          <span>Limba română</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
      <div class="member">
        <img src="~/assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
        <div class="member-content">
          <h4>Grigorie Ana-Mihaela</h4>
          <span>Matematică</span>
        </div>
      </div>
    </div>
  </div>
</section>
