@{
  ViewData["Title"] = "Istoric";
  ViewData["BodyClass"] = "inner-page";
}
<section class="container section">
  <div class="section-title" data-aos="fade-up">
    <h2>Despre noi</h2>
    <p>Istoric</p>
  </div>

  <div class="row gy-4">
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      <p>Prima școală funcțională în Crețeni s-a înființat în anul 1868. Clădirile au fost modernizate de-a lungul timpului…</p>
      <p>În prezent, școala dispune de săli de clasă, laboratoare și sală de sport, reabilitate și dotate pentru un învățământ modern.</p>
    </div>
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
      <img src="~/assets/img/about.jpg" class="img-fluid rounded" alt="" asp-append-version="true">
    </div>
  </div>
</section>
