@{
  ViewData["Title"] = "Noutăți";
  ViewData["BodyClass"] = "inner-page";
}
<section class="container section">
  <div class="section-title" data-aos="fade-up">
    <h2>Noutăți</h2>
    <p>Ultimele anunțuri și activități</p>
  </div>

  <div class="row g-4" data-aos="fade-up" data-aos-delay="100">
    <!-- Placeholder cards (we’ll replace with DB items later) -->
    <div class="col-md-4">
      <div class="card h-100">
        <img class="card-img-top" src="~/assets/img/course-1.jpg" asp-append-version="true" alt="">
        <div class="card-body">
          <h5 class="card-title">Titlu noutate</h5>
          <p class="card-text">Rezumat scurt al noutății. Lorem ipsum dolor sit amet…</p>
          <a href="#" class="stretched-link">Citește</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img class="card-img-top" src="~/assets/img/course-2.jpg" asp-append-version="true" alt="">
        <div class="card-body">
          <h5 class="card-title">Titlu noutate</h5>
          <p class="card-text">Rezumat scurt al noutății. Lorem ipsum dolor sit amet…</p>
          <a href="#" class="stretched-link">Citește</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img class="card-img-top" src="~/assets/img/course-3.jpg" asp-append-version="true" alt="">
        <div class="card-body">
          <h5 class="card-title">Titlu noutate</h5>
          <p class="card-text">Rezumat scurt al noutății. Lorem ipsum dolor sit amet…</p>
          <a href="#" class="stretched-link">Citește</a>
        </div>
      </div>
    </div>
  </div>
</section>
